.main-footer {
	background-color: $gray;
	color: $white;
	margin-bottom: 0;
	padding-top: $spacing-sm;
	padding-bottom: $spacing-sm;
	
	h1 {
		font-size: em(18);
		margin: 0 0 $spacing-sm / 4 0;
	}
	
	ul {
		margin-bottom: $spacing-sm;
	}
	
	a {
		color: $white;
	}
	
	.copyright {
		text-align: center;
	}
}