.input {
	line-height: 21px;
	margin: 0;
	padding: 10px 2px;
	border: 1px solid $gray;
	background-color: $white;
	vertical-align: top;

	&:hover, &:focus {
		padding-bottom: 9px;
		border-bottom-width: 2px;
		border-bottom-color: $gray;
		outline: 0;
	}

	&:invalid:focus {
		border-color: $gray;
	}

	&[disabled] {
		color: $gray;
		background-color: $gray;

		&:hover, &:focus {
			padding-bottom: 10px;
			border-bottom-width: 1px;
			border-bottom-color: $gray;
		}
	}
}

.btn-default,
.btn-info,
.btn-primary,
.btn-danger {
	@extend a;
	display: inline-block;
	line-height: 21px;
	margin: 0;
	padding: 12px 40px;
	border: 2px solid $red;
	border-radius: 3px;
	background-color: transparent;
	color: $red;
	vertical-align: top;
	font-size: em(14);
	font-weight: $bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;

	&:hover, &:focus, &:active {
		color: $white;
		background-color: $red;
		outline: 0;
	}

	&:active {
		background-color: $dark-red;
	}
}

.btn-small {
	padding: 6px 20px;
}

.btn-info {
	color: $white;
	background-color: $red;

	&:active {
		background-color: $dark-red;
	}
}

.btn-primary {
	color: $white;
	border-color: transparent;
	background-color: $red;

	&:hover, &:focus, &:active {
		background-color: $dark-red;
	}
}

.btn-danger {
	border-color: $red;
	background-color: $red;

	&:active {
		background-color: $red;
	}
}
