* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body [hidden] {
	display: none;
}

html, body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

body, input, select, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

body {
	padding-top: $nav-height-lg + $spacing-sm;
	font-weight: $normal;
	background-color: $white;

	@include respond-equal(sm) {
		font-size: em($size-sm);
		padding-top: $nav-height-sm + $spacing-sm;
	}
}

body, a {
	color: $black;
}

strong, b {
	font-weight: $bold;
}

hr {
	background-color: $white;
	height: 1px;
	width: 100%;
	border-width: 0;
}

.nowrap {
	white-space: nowrap;
}

body .pull-left {
	float: left;
}

body .pull-right {
	float: right;
}

body .text-left {
	text-align: left;
}

body .text-center {
	text-align: center;
}

body .text-right {
	text-align: right;
}

body .align-middle {
	vertical-align: middle;
}

.padding {
	padding-left: $spacing-lg;
	padding-right: $spacing-lg;
	padding-bottom: $spacing-lg;
	
	@include respond-equal(sm) {
		padding-left: $spacing-sm;
		padding-right: $spacing-sm;
		padding-bottom: $spacing-sm;
	}
}