@function em( $pixels, $context: $size-default ) {
	@return ( $pixels / $context ) * 1em;
}

@mixin clearfix {
	zoom: 1;
	clear: both;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

@mixin respond-equal( $media ) {
	@if $media == sm {
		@media only screen and (max-width: $break-medium - 1) { @content; }
	}
	@else if $media == md {
		@media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

@mixin respond-smaller( $media ) {
	@if $media == sm {
		@media only screen and (max-width: $break-medium - 1) { @content; }
	}
	@else if $media == md {
		@media only screen and (max-width: $break-large - 1) { @content; }
	}
}

@mixin respond-larger( $media ) {
	@if $media == md {
		@media only screen and (min-width: $break-medium) { @content; }
	}
	@else if $media == lg {
		@media only screen and (min-width: $break-large) { @content; }
	}
}

@mixin input-placeholder {
	&::-webkit-input-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
}
