.section-hero {
	color: $white;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/amsterdam.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	@include respond-larger(md) {
		height: 100vh;
		padding-bottom: $nav-height-lg;
	}

	@include respond-equal(sm) {
		height: 400px;
		padding-top: $nav-height-lg;
	}

	.wrapper {
		height: 100%;
	}
}

.logo {
	margin: 0;
}

.logo-img,
.logo-text {
	display: inline-block;
	vertical-align: middle;
}

.logo-img {
	width: 200px;
	margin-right: 20px;

	@include respond-equal(md) {
		width: 100px;
	}
}

.logo-text,
.hero-teaser {
	font-weight: $bold;
	text-shadow: 0px 3px 1px rgba(0,0,0,0.2), 0px -1px 1px rgba(0,0,0,0.2);
}

.logo-text {
	margin: 0;
	font-size: em(40);

	@include respond-equal(md) {
		font-size: em(30);
	}
}

.hero-teaser {
	font-size: em(20);
	margin: 0 0 30px 0;
}