// Breakpoints
$break-medium: 768px;
$break-large: 1280px;

// Font weights
$normal: 300;
$bold: 700;

// Font sizes
$size-default: 16;
$size-sm: 16;

// Colors
$red: #ea3b3b;
$dark-red: #c31616;
$white: #fff;
$gray: #adadad;
$black: #000;

// Common sizes
$spacing-lg: 40px;
$spacing-sm: 20px;
$nav-height-lg: 60px;
$nav-height-sm: 44px;
$border-radius: 4px;