/* ============== Structure =============== */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

header, section {
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #ADADAD;
    text-decoration: none;
}

a:hover {
    color: #ea3b3b;
    -webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
}

button {
    background: none;
    border: none;
}

button:focus {
    outline: none;
    box-shadow: none;
    border:2px solid transparent;
}

.btn-seethrough a {
    /*border: 2px solid white;*/
    border: 2px solid #ea3b3b;
    border-radius: 3px;
    display: block;
    font-size: 18px;
    color: #ea3b3b;
    padding: 12px 40px;
}

.btn-seethrough a:hover {
    background: #ea3b3b;
    color: white;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
}

.btn-solid a {
    /*border: 2px solid white;*/
    margin: 35px 0 10px;
    background: #ea3b3b;
    border-radius: 3px;
    display: block;
    font-size: 18px;
    color: white;
    padding: 12px 40px;
}

.btn-solid a:hover {
    background: #C31616;
    -webkit-transition: background 100ms linear;
    -moz-transition: background 100ms linear;
    -ms-transition: background 100ms linear;
    -o-transition: background 100ms linear;
    transition: background 100ms linear;
}

.section-title {
    text-align: center;
    font-size: 30px;
    color: #3A3A3A;
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.content {
    padding: 50px 0;
    position: relative;
    text-align: center;
}

.content p span{
    position: relative;
    z-index: 2;
    background: #FFF;
    padding: 0 30px;
}

.content p::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: #D3D3D3;
    left: 0;
    top: 70px;
}

/* ============== Nav area =============== */

.header {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
    height: 67px;
}

header .container {
    color: #A1A1A1;
    text-align: center;
}

.logo img {
    width: 72px;
}

.nav-header {
    display: inline-block;
}

.nav-header ul {
    padding-top: 6px;
    position: relative;
    list-style-type: none;
}

.nav-header li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
}

.nav-header li a {
    font-size: 13px;
    text-transform: uppercase;
}

.header-left {
    position: absolute;
    left: 0;
    top: -5px;
}

.header-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
}

.header-right {
    position: absolute;
    right: 0;
    top: 15px;
    opacity: 0
}

.column {
    display: table-cell;
}

.register {
    background: #ea3b3b;
    border-radius: 3px;
    padding: 10px 45px;
    border: none;
    font-size: 15px;
    color: #FFF;
}

/* ============== Intro area =============== */

.intro-container {
    text-align: center;
}

.intro {
    padding: 40px 0;
    width: 100%;
    margin-top: 0;
    z-index: 1;
    background: linear-gradient(rgba(87, 74, 55, 0.8), rgba(107, 97, 85, 0.4)), url('../images/intro.jpg');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: cover;
}

.intro p {
    margin-top: 35px;
    color: #F2F2F2;
}

.intro-logo {
    padding-top: 80px;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
}

.intro-logo p{
    font-size: 20px;
}

.intro-logo img {
    width: 100%;
}

.intro-logo .btn-seethrough {
    margin-top: 30px
}


.section-intro {
    width: 80%;
    color: #888;
    margin: 0 auto 50px;
}

/* ============== Speakers area =============== */

/*.organizers, .sponsors {
    height: 400px;
}

.speakers-wrapper {
    width: 30%;
    text-align: center;
    float: left;
    margin: 1.6% 1.6% 6%;
}

.speakers-thumbnail img {
    width: 50%;
}

.speakers-title {
    font-size: 20px;
    margin: 15px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.speakers-bio {
    color: #909090;
    margin: 10px 0;
}

.speakers-bio a {
    color: #ea3b3b;
}

.speakers-bio a:hover {
    color: black;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}*/

/* ============== Speakers-teaser area =============== */

.call-for-paper {
    background: #ea3b3b;
    border-radius: 3px;
    padding: 10px 45px;
    border: none;
    font-size: 15px;
    color: #FFF;
}

.organizers {
    height: 400px; /* This is temporary */
}

.speakers-wrapper {
    width: 30%;
    text-align: center;
    float: left;
    margin: 1.6% 1.6% 6%;
}

.speakers-thumbnail img {
    width: 50%;
}

.speakers-title {
    font-size: 20px;
    margin: 15px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}

.speakers-bio {
    color: #909090;
    margin: 10px 0;
}

.speakers-bio a {
    color: #ea3b3b;
}

.speakers-bio a:hover {
    color: black;
    -webkit-transition: color 300ms linear;
    -moz-transition: color 300ms linear;
    -ms-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;
}

/* ============== Location area =============== */

.location{
    height: 400px;
    width: 100%
}

.content-location {
    padding: 50px 0 0;
}

/* ============== Schedule area =============== */


.schedule-wrapper {
    height: 100%;
}

.day-wrapper {
    margin: 15px 0;
}

.schedule-table {
    display: inline;
    padding: 5px 15px;
    border-radius: 3px;
}

.schedule-left {
    position: absolute;
    left: 315px;
    text-align: right;
}

.schedule-center {
    position: absolute;
    left: 46%;
}

.schedule-right {
    position: absolute;
    right: 430px;
    text-align: left;
}

.schedule-date {
    background: #FFE800;
    margin: 15px 0;
    display: inline-block;
}

.schedule-item, .schedule-item-speaker {
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 3px;
}

.schedule-item-speaker {
    background: #F2F2F2;
}

.schedule-time {
    background: #E0A1A1;
}


h1 {
    font-weight: 300;
    text-align: center;
    color: #868686;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    /* equal to .credits height */
    margin-bottom: -70px;
}

.page-wrap:after {
    content: "";
    display: block;
    /* equal to .credits height */
    height: 70px;
}

@media (max-width: 980px) {
    .container img {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 90px 0;
        width: 80%;
    }

    .container img {
        width: 100%;
    }
}

/** =========================================================================
    Footer
    ========================================================================= */

footer {
    width: 100%;
    background: #D3D3D3;
    padding: 10px 0;
    text-align: center;
    color: #333333;
    font-size: 14px;
}

/* ============== Clearfix =============== */


.clearfix
.clearfix:before {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

/* ============== Hidden =============== */

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/** =========================================================================
    Media queries
    ========================================================================= */


/*@media only screen and (max-width: 480px){}*/

@media only screen and (max-width: 768px){

    .btn-seethrough a, .btn-solid a {
        font-size: 16px;
    }

    .intro-logo img {
        width: 75%;
    }

    .section-intro {
        width: 85%;
    }

    .container {
        padding: 40px 0;
        width: 95%;
    }

    .content p::after {
        top: 56px;
    }

    .section-title {
        font-size: 25px; 
    }
}