/** =========================================================================
    Structure
    ========================================================================= */

html, body {
    height: 100%;
}

body {
    background-color: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}

header, section {
    display: block;
}

h1 {
    font-weight: 300;
    text-align: center;
    color: #868686;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    /* equal to .credits height */
    margin-bottom: -70px;
}

.page-wrap:after {
    content: "";
    display: block;
    /* equal to .credits height */
    height: 70px;
}

.container {
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

    .container img {
        display: block;
        margin: 0 auto 100px;
        width: 50%;
    }

@media (max-width: 980px) {
    .container img {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .container {
        padding: 90px 0;
        width: 80%;
    }

    .container img {
        width: 100%;
    }
}

/** =========================================================================
    Footer
    ========================================================================= */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #D3D3D3;
    padding: 10px;
    text-align: center;
    color: #333333;
    font-size: 14px;
}